@charset "UTF-8";
/* 
1. Ogólne
2. Navigacja
3. Slider
4. o mnie
5. oferta
6. Bony
7. aktualne promocje
8.galeria
9. Kontakt 
10. Stopka
-------------------------------------------------------------------------*/
/* 1. Ogólne */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Saira Condensed", sans-serif;
  font-size: 20px;
}

.title {
  font-family: "Mali", cursive;
  font-size: 3rem;
  text-align: center;
}

.title:after {
  content: "";
  display: block;
  clear: both;
  height: 3px;
  width: 30%;
  background: #c2000b;
  text-align: center;
  margin: 20px auto;
}

.page__text {
  line-height: 170%;
  margin: 20px auto;
  font-size: 1.2em;
  text-align: justify;
}

.wrapper {
  margin: 40px auto;
  width: 100%;
}

/* 2. Nawigacja  */
.menu {
  border-bottom: 3px solid #c2000b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  height: 70px;
  width: 100%;
  z-index: 5;
  background-color: #fff;
}

.menu__lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__list {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.menu__link {
  display: block;
  font-size: 1.2em;
  text-align: center;
  text-decoration: none;
  width: 6em;
  line-height: 280%;
  color: #000;
  font-family: "Mali", cursive;
}

.menu__link:hover {
  color: #fff;
  background-color: #c2000b;
  -webkit-transition: .3s;
  transition: .3s;
}

/* Slider */
#carousel {
  overflow: hidden;
  position: relative;
  top: 70px;
  width: 100%;
  height: 80vh;
}

.slider__list {
  list-style: none;
}

.slider__img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  /*min-width: 100%;
  min-height: 100%; */
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  opacity: 0;
  -webkit-animation: slider 64s infinite linear;
          animation: slider 64s infinite linear;
}

.slider__list:nth-child(2) img {
  -webkit-animation-delay: 8s;
          animation-delay: 8s;
}

.slider__list:nth-child(3) img {
  -webkit-animation-delay: 16s;
          animation-delay: 16s;
}

.slider__list:nth-child(4) img {
  -webkit-animation-delay: 24s;
          animation-delay: 24s;
}

.slider__list:nth-child(5) img {
  -webkit-animation-delay: 32s;
          animation-delay: 32s;
}

.slider__list:nth-child(6) img {
  -webkit-animation-delay: 40s;
          animation-delay: 40s;
}

.slider__list:nth-child(7) img {
  -webkit-animation-delay: 48s;
          animation-delay: 48s;
}

.slider__list:nth-child(8) img {
  -webkit-animation-delay: 56s;
          animation-delay: 56s;
}

@-webkit-keyframes slider {
  0% {
    opacity: 0;
  }
  1% {
    opacity: 1;
  }
  11% {
    opacity: 1;
  }
  12% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes slider {
  0% {
    opacity: 0;
  }
  1% {
    opacity: 1;
  }
  11% {
    opacity: 1;
  }
  12% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

/* O mnie */
.about {
  width: 80%;
  margin: 90px auto;
}

.about .about-box__img {
  float: left;
  height: 300px;
  border: 2px solid #c2000b;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  margin-right: 50px;
}

.about .about-box__school p {
  display: inline-block;
  margin: 20px auto;
  width: 49%;
  line-height: 150%;
  text-align: center;
  font-size: 1.5em;
  cursor: pointer;
}

.about .about-box__school p:hover {
  color: #fff;
  background-color: #c2000b;
  -webkit-transition: .3s;
  transition: .3s;
}

/* Oferta */
/* .offer {
  border-bottom: 5px solid #c2000b;
} */
.offer__treatments {
  width: 80%;
  padding: 0 20px;
  margin: 0 auto;
  -webkit-transition: .5s;
  transition: .5s;
}

.offer__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 100px 5px 40px;
}

.offer__text {
  font-size: 1.5rem;
  padding: 20px 0;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
  line-height: 150%;
}

/* kiedy dodanie zostanie klasa addLine dodać after */
/* .addLine p:after {
  content: "";
  display: block;
  clear: both;
  height: 3px;
  width: 120%;
  background: #c2000b;
  text-align: center;
  margin: 20px auto;
} */
.offer__show {
  font-size: 3rem;
  cursor: pointer;
}

.offer__treatment {
  letter-spacing: 2px;
  line-height: 150%;
  font-size: 1.5rem;
  display: none;
  padding: 0 70px;
}

.offer__name--small {
  font-size: 1em;
}

/* Dodawana klasa po kliknięciu + */
.offer--is-active {
  display: block;
}

.offer__treatments .offer__show--rotate {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.offer__not-found {
  text-align: center;
  margin: 50px auto;
  font-size: 2rem;
}

.offer__not-found span {
  color: #2c6836;
  font-size: 2.2rem;
  font-weight: bold;
}

.offer__note {
  text-align: center;
  margin-top: 20px;
}

.offer__treatment-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  /* border-bottom: 1px solid grey; */
}

.offer__treatment-box:nth-child(odd) {
  /* border-bottom: 1px solid grey; */
  background-color: #ddd;
}

.offer__IPL .offer__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 70%;
  margin: 0 auto;
}

.offer__IPL .offer__name:nth-child(odd) {
  background-color: #ddd;
}

/* Bony */
.voucher__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #FAFAFC;
  margin: 70px auto;
  width: 70%;
  -webkit-box-shadow: 1px -1px 8px 1px lightgrey;
          box-shadow: 1px -1px 8px 1px lightgrey;
}

.voucher__offer {
  margin: auto 50px;
}

/* Aktualne promocje */
.promo {
  background-image: url(https://images.unsplash.com/photo-1515377905703-c4788e51af15?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=5f384fa6a6caa83e0ffdcef585e20c99&auto=format&fit=crop&w=1350&q=80);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  text-align: center;
}

.promo .title--mod {
  padding: 30px 0;
  background-color: rgba(225, 255, 255, 0.5);
}

.promo__promotion {
  font-size: 2rem;
  background-color: rgba(255, 255, 255, 0.5);
  line-height: 150%;
  padding: 30px 0;
}

.promo__actual-offer {
  font-size: 3rem;
  padding: 10px 0;
  margin-bottom: 15px;
}

.promo__actual-offer span:nth-child(1) {
  text-decoration: line-through;
}

.promo__actual-offer span:nth-child(2) {
  color: #c2000b;
  font-size: 4rem;
}

.promo__time {
  margin-top: 30px;
  padding: 25px 0;
  font-size: 3rem;
  font-weight: bold;
}

/* 7. Galeria */
.gallery__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 35px;
}

.gallery__box {
  height: 400px;
  width: 400px;
  border-radius: 10%;
  margin: 30px auto;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.gallery__face {
  background-image: url(https://images.unsplash.com/photo-1531860415933-7d5348a737d4?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=ec323a04ea22c9913bbdb2d7ffa94170&auto=format&fit=crop&w=334&q=80);
}

.gallery__body {
  background-image: url(https://images.unsplash.com/photo-1533094835326-76dd44a9d91c?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=bb7bc6f0c4111897bed39680269104a5&auto=format&fit=crop&w=750&q=80);
}

.gallery__maniciure {
  background-image: url(https://images.unsplash.com/photo-1457040931721-53ca161dab33?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=898018ed70eb5a889300ac2d082de540&auto=format&fit=crop&w=400&q=60);
}

.gallery__laser {
  background-image: url(https://images.unsplash.com/photo-1511284800349-cb63bc2e6c0e?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=e585f0abc6bf4dfb60b5242c82e58623&auto=format&fit=crop&w=500&q=80);
}

.gallery__office {
  background-image: url(../img/gabinet/DSC_0200.JPG);
}

.gallery__text {
  opacity: 0;
  height: 100%;
  width: 100%;
  text-align: center;
  line-height: 400px;
  font-size: 3rem;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10%;
  cursor: pointer;
  -webkit-transition: .5s;
  transition: .5s;
}

.gallery__face:hover .gallery__text,
.gallery__body:hover .gallery__text,
.gallery__maniciure:hover .gallery__text,
.gallery__laser:hover .gallery__text,
.gallery__office:hover .gallery__text {
  opacity: 1;
}

/* 8. Kontakt */
.contact .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.contact__box {
  font-size: 1.9rem;
}

.contact__box h4 {
  font-weight: bold;
  margin-bottom: 20px;
}

.contact__hours-office {
  border-left: 3px solid #c2000b;
  padding: 0 20px;
  margin-bottom: 40px;
}

.contact p {
  line-height: 120%;
}

.contact__adress {
  border-left: 3px solid #c2000b;
  padding: 0 20px;
}

.contact__media {
  text-align: center;
  margin: 30px auto;
  font-size: 3rem;
}

.contact__media i {
  margin: 0 20px;
  -webkit-transition: .5s;
  transition: .5s;
  cursor: pointer;
  color: #c2000b;
}

.contact__media .fa-google-plus-square:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  color: #c2000b;
}

.contact__media .fa-facebook-square:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  color: #3B5998;
}

.contact__map iframe {
  height: 550px;
  width: 70vw;
  background-color: #999;
}

/* 9. Stopka */
.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 40px;
  background-color: #ccc;
  font-size: .9rem;
}

.footer a {
  text-decoration: none;
}
/*# sourceMappingURL=style.css.map */