@charset "UTF-8";
/* 
1. Ogólne
2. Navigacja
3. Slider
4. o mnie
5. oferta
6. Bony
7. aktualne promocje
8.galeria
9. Kontakt 
10. Stopka
11. Media

-------------------------------------------------------------------------*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Saira Condensed", sans-serif;
  font-size: 20px;
}

.title {
  font-family: "Mali", cursive;
  font-size: 3rem;
  text-align: center;
}

.title:after {
  content: "";
  display: block;
  clear: both;
  height: 3px;
  width: 30%;
  background: #c2000b;
  text-align: center;
  margin: 20px auto;
}

.page__text {
  line-height: 170%;
  margin: 20px auto;
  font-size: 1.2em;
  text-align: justify;
}

.wrapper {
  margin: 40px auto;
  width: 100%;
  max-width: 1400px;
}

.top {
  position: absolute;
  top: 0;
}

.back {
  position: relative;
}

.back__link {
  position: absolute;
  left: 0;
  text-decoration: none;
  color: #000;
  width: 100%;
  background-color: grey;
  font-size: 1.2rem;
  padding: 10px;
}

.back .top {
  top: 0;
}

.back .down {
  bottom: 0;
}

.back .fas {
  margin: 0 30px;
  -webkit-transition: 1s;
  transition: 1s;
  font-size: 1.5rem;
}

.back__link:hover .fas {
  color: #fff;
  margin-left: 0px;
}

.photos {
  padding: 40px;
}

.photo__title {
  padding: 20px;
  font-size: 2rem;
  text-align: left;
  width: 100%;
}

.photo__title:after {
  content: "";
  width: 95%;
  border-bottom: 3px solid #c2000b;
  display: inline-block;
  margin-left: 20px;
}

.photo__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.photo__img {
  height: 40vh;
  width: 40vh;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 5px;
  border-radius: 10px;
}

/* 2. Nawigacja  */
.menu__not-burger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: fixed;
  top: 0;
  right: 0;
  height: 70px;
  width: 100%;
  z-index: 5;
  overflow: hidden;
  background-color: #fff;
  border-bottom: 3px solid #c2000b;
}

.menu__lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__list {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  text-align: center;
}

.menu__link {
  display: block;
  font-size: 1.2em;
  text-align: center;
  text-decoration: none;
  width: 7em;
  line-height: 280%;
  color: #000;
  font-family: "Mali", cursive;
}

.menu img {
  height: 100%;
  width: 100%;
}

.menu__burger {
  width: 70px;
  position: fixed;
  top: 0;
  right: 0;
  color: #c2000b;
  text-align: center;
  line-height: 70px;
  font-size: 1.5em;
  display: block;
  z-index: 5;
}

/* Slider */
#carousel {
  overflow: hidden;
  position: relative;
  top: 70px;
  width: 100%;
  height: 80vh;
}

.slider__list {
  list-style: none;
}

.slider__img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  /*min-width: 100%;
  min-height: 100%; */
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.slider--anim {
  -webkit-animation: slider 5s infinite linear;
          animation: slider 5s infinite linear;
}

@-webkit-keyframes slider {
  0% {
    opacity: 0;
  }
  2% {
    opacity: 0;
  }
  10% {
    opacity: .5;
  }
  21% {
    opacity: 1;
  }
  79% {
    opacity: 1;
  }
  90% {
    opacity: .5;
  }
  98% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes slider {
  0% {
    opacity: 0;
  }
  2% {
    opacity: 0;
  }
  10% {
    opacity: .5;
  }
  21% {
    opacity: 1;
  }
  79% {
    opacity: 1;
  }
  90% {
    opacity: .5;
  }
  98% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

/* O mnie */
.about {
  width: 80%;
  margin: 90px auto;
}

.about .about-box__img {
  float: left;
  height: 300px;
  width: 30%;
  border: 2px solid #c2000b;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  margin-right: 50px;
}

.about .about-box__school p {
  display: inline-block;
  margin: 20px auto;
  width: 49%;
  line-height: 150%;
  text-align: center;
  font-size: 1.5em;
  cursor: pointer;
}

/* Oferta */
.offer {
  /* Dodawana klasa po kliknięciu + */
}

.offer__treatments {
  width: 80%;
  padding: 0 20px;
  margin: 0 auto;
}

.offer__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5px 100px 5px 40px;
  -webkit-transition: .2s;
  transition: .2s;
}

.offer__text {
  font-size: 1.5rem;
  margin: 10px 0;
  padding: 0 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
  line-height: 150%;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

.offer .addLine {
  background-color: grey;
  color: #fff;
}

.offer__show {
  font-size: 3rem;
  cursor: pointer;
  padding-right: 20px;
}

.offer__treatment {
  letter-spacing: 2px;
  line-height: 150%;
  font-size: 1.5rem;
  display: none;
  padding: 0 70px;
}

.offer__name--small {
  font-size: 1em;
  padding: 0;
}

.offer--is-active {
  display: block;
}

.offer__not-found {
  text-align: center;
  margin: 50px auto;
  font-size: 2rem;
}

.offer__not-found span {
  color: #2c6836;
  font-size: 2.2rem;
  font-weight: bold;
}

.offer__note {
  text-align: center;
  margin-top: 20px;
}

.offer__treatment-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  /* border-bottom: 1px solid grey; */
}

.offer__treatment-box:nth-child(odd) {
  /* border-bottom: 1px solid grey; */
  background-color: #ddd;
}

.offer__epil-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5px 100px 5px 40px;
  -webkit-transition: .2s;
  transition: .2s;
}

.offer__ipl .offer__ipl-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 85%;
  margin: 0 auto;
}

.offer__ipl .offer__ipl-name:nth-child(odd) {
  background-color: #ddd;
}

/* Bony */
.voucher__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #FAFAFC;
  margin: 70px auto;
  width: 70%;
  -webkit-box-shadow: 1px -1px 8px 1px lightgrey;
          box-shadow: 1px -1px 8px 1px lightgrey;
}

.voucher__img {
  height: 50vw;
  width: 50vw;
}

.voucher__offer {
  margin: auto 50px;
}

/* Aktualne promocje */
.promo {
  background-image: url(../img/gallery/promo.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-align: center;
}

.promo .title--mod {
  padding: 30px 0;
  background-color: rgba(225, 255, 255, 0.5);
}

.promo__promotion {
  font-size: 2rem;
  background-color: rgba(255, 255, 255, 0.5);
  line-height: 150%;
}

.promo__actual-offer {
  font-size: 3rem;
  padding: 10px 0;
  margin-bottom: 15px;
}

.promo__actual-offer span:nth-child(1) {
  text-decoration: line-through;
}

.promo__actual-offer span:nth-child(2) {
  color: #c2000b;
  font-size: 4rem;
}

.promo__time {
  padding: 25px 0;
  font-size: 3rem;
  font-weight: bold;
}

/* 7. Galeria */
.gallery__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 35px;
}

.gallery__box {
  height: 60vh;
  width: 60vh;
  border-radius: 10%;
  margin: 30px 20px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.gallery__face {
  background-image: url(../img/gallery/face.jpg);
}

.gallery__body {
  background-image: url(../img/gallery/leg.jpg);
}

.gallery__maniciure {
  background-image: url(../img/gallery/hand.jpg);
}

.gallery__laser {
  background-image: url(../img/gallery/body.jpg);
}

.gallery__office {
  background-image: url(../img/gabinet/DSC_0200.JPG);
}

.gallery__text {
  display: block;
  text-decoration: none;
  opacity: 0;
  height: 100%;
  width: 100%;
  text-align: center;
  line-height: 55vh;
  font-size: 2rem;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10%;
  cursor: pointer;
  -webkit-transition: .5s;
  transition: .5s;
}

/* 8. Kontakt */
.contact .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.contact__box {
  font-size: 1.9rem;
}

.contact__box h4 {
  font-weight: bold;
  margin-bottom: 20px;
}

.contact__hours-office {
  border-left: 3px solid #c2000b;
  padding: 0 20px;
  margin-bottom: 40px;
}

.contact p {
  line-height: 120%;
}

.contact__adress {
  border-left: 3px solid #c2000b;
  padding: 0 20px;
}

.contact__media {
  text-align: center;
  margin: 30px auto;
  font-size: 3rem;
}

.contact__media i {
  margin: 0 20px;
  -webkit-transition: .5s;
  transition: .5s;
  cursor: pointer;
  color: #c2000b;
}

.contact__map iframe {
  height: 550px;
  width: 70vw;
  background-color: #999;
}

/* 9. Stopka */
.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 40px;
  background-color: #ccc;
  font-size: .9rem;
}

.footer a {
  text-decoration: none;
}

@media (min-width: 1200px) {
  .menu__link:hover {
    color: #fff;
    background-color: #c2000b;
    -webkit-transition: .3s;
    transition: .3s;
  }
  .about-box__school p:hover {
    color: #fff;
    background-color: #c2000b;
    -webkit-transition: .3s;
    transition: .3s;
  }
  .offer__text:hover {
    margin-left: 20px;
  }
  .addLine:hover .offer__text {
    margin-left: 0;
  }
  .gallery__face:hover .gallery__text,
  .gallery__body:hover .gallery__text,
  .gallery__maniciure:hover .gallery__text,
  .gallery__laser:hover .gallery__text,
  .gallery__office:hover .gallery__text {
    opacity: 1;
  }
  .contact__media .fa-google-plus-square:hover {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    color: #c2000b;
  }
  .contact__media .fa-facebook-square:hover {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    color: #3B5998;
  }
}

@media (max-width: 1200px) {
  .menu__link {
    width: 6.5em;
    font-size: 1em;
  }
  .gallery__box {
    height: 55vh;
    width: 55vh;
    margin: 20px;
  }
  .gallery__face .gallery__text,
  .gallery__body .gallery__text,
  .gallery__maniciure .gallery__text,
  .gallery__laser .gallery__text,
  .gallery__office .gallery__text {
    opacity: .8;
  }
}

@media (max-width: 1024px) {
  .menu {
    border-bottom: 2px solid #c2000b;
  }
  .menu__link {
    font-size: 1em;
  }
  .about {
    width: 90%;
    font-size: .9em;
  }
  .about .about-box__img {
    height: 250px;
    margin-right: 20px;
  }
  .offer__treatments {
    width: 100%;
  }
  .offer__treatment-box {
    width: 90%;
  }
  .voucher__box {
    margin: 50px auto;
    width: 90%;
  }
}

@media (max-width: 900px) {
  .title {
    font-size: 2rem;
  }
  .page__text {
    line-height: 170%;
    font-size: 1em;
  }
  .wrapper {
    margin: 20px auto;
  }
  .menu {
    border: none;
  }
  .menu__not-burger {
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(128, 128, 128, 0.9);
  }
  .menu__not-burger--active {
    display: block;
    border-bottom: none;
  }
  .menu__lists {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 1.5rem;
    width: 100%;
    font-weight: bold;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .menu__burger {
    display: block;
    z-index: 10;
  }
  .menu__list img {
    height: 100%;
    width: 50%;
  }
  #carousel {
    top: 0;
  }
  .about {
    margin: 30px auto;
  }
}

@media (max-width: 810px) {
  .offer__text {
    font-size: 1.2rem;
  }
  .offer__treatment {
    font-size: 1.1rem;
  }
  .contact__box {
    font-size: 1.5rem;
  }
  .contact__media {
    font-size: 3.5rem;
  }
  .contact__map iframe {
    height: 470px;
  }
  .voucher__box {
    margin: 20px auto;
    width: 90%;
    font-size: 1.3rem;
  }
  .voucher__img {
    height: 60vw;
    width: 40vw;
  }
  .voucher__offer {
    margin: auto 15px;
  }
}

@media (max-width: 690px) {
  .about-box__school {
    font-size: .9rem;
  }
  .offer__not-found {
    padding: 0 25px;
  }
  .offer__epil-name {
    margin: 0;
  }
  .contact .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-bottom: 10px;
  }
  .contact__hours-office {
    border: none;
    margin: 0;
  }
  .contact__adress {
    border: none;
  }
  .contact__media {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0;
  }
  .contact__map iframe {
    height: 350px;
    width: 100vw;
    margin: 0 auto;
  }
}

@media (max-width: 640px) {
  .offer__treatment {
    letter-spacing: 1px;
    font-size: 1em;
  }
  .offer__not-found {
    width: 70%;
    line-height: 150%;
  }
  .offer__treatment-box {
    width: 100%;
    /* border-bottom: 1px solid grey; */
  }
  .offer__IPL .offer__name {
    padding: 0;
  }
  .voucher__box {
    font-size: 1.2rem;
    margin: 30px auto;
    width: 95%;
  }
  .voucher__img {
    height: 60vw;
    width: 35vw;
  }
  .voucher__offer {
    margin: auto 10px;
  }
}

@media (max-width: 590px) {
  .offer__name {
    margin: 10px 50px 10px 10px;
  }
  .offer__treatment-box p {
    padding: 0 10px;
  }
  .voucher__box {
    display: block;
    font-size: 1.2rem;
    margin: 50px auto;
  }
  .voucher__img {
    float: left;
    margin-right: 10px;
  }
  .voucher__offer {
    margin: auto 10px;
    display: block;
  }
  .promo__promotion {
    font-size: 1.4rem;
    padding: 10px 0;
  }
  .promo__actual-offer {
    font-size: 2.4rem;
  }
  .promo__time {
    margin-top: 20px;
    padding: 15px 0;
    font-size: 2.5rem;
    font-weight: bold;
  }
  .footer {
    padding: 10px 10px;
    font-size: .9rem;
  }
}

@media (max-width: 490px) {
  .offer__name {
    padding: 10px;
  }
  .offer__treatment {
    width: 90%;
    margin: 0 auto;
    padding: 0;
  }
  .offer__not-found {
    width: 70%;
    line-height: 150%;
  }
  .offer__treatment-box {
    width: 100%;
    padding: 0 10px;
    /* border-bottom: 1px solid grey; */
  }
  .offer__treatment-box p {
    padding: 0 10px;
  }
  .contact .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .contact__hours-office {
    margin-bottom: 20px;
  }
  .contact__media {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 25px auto;
    font-size: 4rem;
  }
  .promo {
    height: 80vh;
  }
  .promo .title--mod {
    padding: 10px 0;
  }
  .promo__promotion {
    font-size: 1.5rem;
    line-height: 200%;
    padding: 10px 0;
  }
  .promo__actual-offer {
    font-size: 2rem;
    padding: 10px 0;
    margin-bottom: 10px;
  }
  .promo__actual-offer span:nth-child(2) {
    font-size: 3rem;
  }
  .promo__time {
    padding: 10px 0;
    font-size: 2rem;
  }
}

@media (max-width: 440px) {
  .about {
    margin: 0 20px;
  }
  .offer {
    margin: 0;
    font-size: 1rem;
  }
  .offer__text {
    font-size: 1rem;
    padding: 0;
  }
  .offer__name {
    padding: 0;
  }
  .offer__treatment-box {
    padding: 0;
  }
  .offer__name--small {
    margin: 0 auto;
    width: 85%;
  }
  .offer__not-found {
    margin: 0 auto;
    width: 85%;
    padding: 0;
    font-size: 1.1rem;
  }
  .offer__not-found span {
    font-size: 1.5rem;
  }
  .gallery__box {
    height: 40vh;
    width: 40vh;
    margin: 10px 20px;
  }
  .gallery__text {
    line-height: 40vh;
  }
  .gallery .footer {
    padding: 5px;
    font-size: .7rem;
  }
}

@media (max-width: 360px) {
  .gallery__text {
    line-height: 40vh;
    font-size: 1.6rem;
  }
  .contact__media {
    font-size: 3.5rem;
  }
}

@media (max-width: 340px) {
  .about .about-box__img {
    border: 1px solid #c2000b;
  }
  .page__text {
    font-size: 1rem;
  }
  .offer {
    margin: 0;
    font-size: 1rem;
  }
  .offer .addLine .offer__text:after {
    height: 1px;
  }
  .promo {
    height: 90vh;
  }
}
/*# sourceMappingURL=style.css.map */