/* 
1. Ogólne
2. Navigacja
3. Slider
4. o mnie
5. oferta
6. Bony
7. aktualne promocje
8.galeria
9. Kontakt 
10. Stopka
11. Media

-------------------------------------------------------------------------*/

/* 1. Ogólne */

// Variables 
$color-main: #c2000b;
$color-white: #fff;
$color-black: #000;
$font-family-primary: 'Saira Condensed',
sans-serif;
$font-family-title: 'Mali',
cursive;

@mixin button-hover() {
  color: $color-white;
  background-color: $color-main;
  transition: .3s;
}

@mixin flex($justify) {
  display: flex;
  justify-content: $justify;
}

* {
  box-sizing: border-box;
}

body {
  font-family: $font-family-primary;
  font-size: 20px;
}

.title {
  font-family: $font-family-title;
  font-size: 3rem;
  text-align: center;
}

.title:after {
  content: "";
  display: block;
  clear: both;
  height: 3px;
  width: 30%;
  background: $color-main;
  text-align: center;
  margin: 20px auto;
}

.page__text {
  line-height: 170%;
  margin: 20px auto;
  font-size: 1.2em;
  text-align: justify;
}

.wrapper {
  margin: 40px auto;
  width: 100%;
  max-width: 1400px;
}

/* 2. Nawigacja  */

.menu {
  &__not-burger {
    @include flex(space-around);
    position: fixed;
    top: 0;
    right: 0;
    height: 70px;
    width: 100%;
    z-index: 5;
    overflow: hidden;
    background-color: $color-white;
    border-bottom: 3px solid $color-main;
  }

  &__lists {
    display: flex;
  }

  &__list {
    flex-basis: 100%;
  }

  &__link {
    display: block;
    font-size: 1.2em;
    text-align: center;
    text-decoration: none;
    width: 7em;
    line-height: 280%;
    color: $color-black;
    font-family: $font-family-title;
  }

  img {
    height: 100%;
    width: 100%;
  }

  //burger 
  &__burger {
    width: 70px;
    // height: 70px;
    position: fixed;
    top: 0;
    right: 0;
    // border: 1px solid $color-main;
    // border-top-left-radius: 50%;
    // border-bottom-right-radius: 50%;
    // background-color: red;
    text-align: center;
    line-height: 70px;
    // padding: 10px 40px;

    font-size: 1.5em;
    display: block;
    z-index: 5;
  }

  // &__burger--active {
  // display: block;
  // }
}

/* Slider */

#carousel {
  overflow: hidden;
  position: relative;
  top: 70px;
  width: 100%;
  height: 80vh;
}

.slider {
  &__list {
    list-style: none;
  }

  &__img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*min-width: 100%;
  min-height: 100%; */
    object-fit: cover;
    width: 100%;
    opacity: 0;
    animation: slider 64s infinite linear;
  }

  &__list:nth-child(2) img {
    animation-delay: 8s;
  }

  &__list:nth-child(3) img {
    animation-delay: 16s
  }

  &__list:nth-child(4) img {
    animation-delay: 24s
  }

  &__list:nth-child(5) img {
    animation-delay: 32s
  }

  &__list:nth-child(6) img {
    animation-delay: 40s
  }

  &__list:nth-child(7) img {
    animation-delay: 48s
  }

  &__list:nth-child(8) img {
    animation-delay: 56s
  }
}

@keyframes slider {
  0% {
    opacity: 0;
  }

  1% {
    opacity: 1;
  }

  11% {
    opacity: 1;
  }

  12% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

/* O mnie */

.about {
  width: 80%;
  margin: 90px auto;

  .about-box__img {
    float: left;
    height: 300px;
    width: 30%;
    border: 2px solid $color-main;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    margin-right: 50px;
  }

  .about-box__school p {
    display: inline-block;
    margin: 20px auto;
    width: 49%;
    line-height: 150%;
    text-align: center;
    font-size: 1.5em;
    cursor: pointer;
  }
}

/* Oferta */

.offer {

  &__treatments {
    width: 80%;
    padding: 0 20px;
    margin: 0 auto;
  }

  &__name {
    @include flex(space-between);
    align-items: center;
    margin: 5px 100px 5px 40px;
    transition: .2s;
  }

  &__text {
    font-size: 1.5rem;
    margin: 10px 0;
    padding: 0 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
    line-height: 150%;
    transition: all .2s linear;

    &:hover {
      margin-left: 20px;
    }
  }

  /* kiedy dodanie zostanie klasa addLine dodać after */
  .addLine {
    // border-bottom: 2px solid $color-main;
    background-color: grey;
    // border-radius: 5px;
    color: $color-white;
    font-size: 3rem;
  }

  .addLine:hover .offer__text {
    margin-left: 0px;
  }

  &__show {
    font-size: 3rem;
    cursor: pointer;
    padding-right: 20px;
    //  transform: scale(2);
  }

  &__treatment {
    letter-spacing: 2px;
    line-height: 150%;
    font-size: 1.5rem;
    display: none;
    padding: 0 70px;
  }

  &__name--small {
    font-size: 1em;
    padding: 0;
  }

  /* Dodawana klasa po kliknięciu + */
  &--is-active {
    display: block;
  }


  &__not-found {
    text-align: center;
    margin: 50px auto;
    font-size: 2rem;
  }

  &__not-found span {
    color: rgb(44, 104, 54);
    font-size: 2.2rem;
    font-weight: bold;
  }

  &__note {
    text-align: center;
    margin-top: 20px;
  }

  &__treatment-box {
    @include flex(space-between);
    width: 80%;
    margin: 0 auto;
    /* border-bottom: 1px solid grey; */
  }

  &__treatment-box:nth-child(odd) {
    /* border-bottom: 1px solid grey; */
    background-color: #ddd;
  }

  &__epil-name {
    @include flex(space-between);
    align-items: center;
    margin: 5px 100px 5px 40px;
    transition: .2s;
  }

  &__ipl .offer__ipl-name {
    @include flex(space-between);
    width: 85%;
    // border-bottom: 1px solid grey;
    margin: 0 auto;
  }

  &__ipl .offer__ipl-name:nth-child(odd) {
    // border-bottom: 1px solid grey;
    background-color: #ddd;
  }
}

/* Bony */
.voucher {
  &__box {
    @include flex(space-between);
    background-color: #FAFAFC;
    margin: 70px auto;
    width: 70%;
    box-shadow: 1px -1px 8px 1px lightgrey;
  }

  &__img {
    height: 50vw;
    width: 50vw;
  }

  &__offer {
    margin: auto 50px;
  }
}

/* Aktualne promocje */

.promo {
  background-image: url(../img/gallery/promo.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  text-align: center;

  .title--mod {
    padding: 30px 0;
    background-color: rgba(225, 255, 255, .5);
  }

  &__promotion {
    font-size: 2rem;
    height: 100vh;
    background-color: rgba(255, 255, 255, .5);
    line-height: 150%;
    padding: 30px 0;
  }

  &__actual-offer {
    font-size: 3rem;
    padding: 10px 0;
    margin-bottom: 15px;
  }

  &__actual-offer span:nth-child(1) {
    text-decoration: line-through;
  }

  &__actual-offer span:nth-child(2) {
    color: $color-main;
    font-size: 4rem;
  }

  &__time {
    margin-top: 30px;
    padding: 25px 0;
    font-size: 3rem;
    font-weight: bold;
  }
}

/* 7. Galeria */
.gallery {
  &__content {
    @include flex(space-around);
    flex-wrap: wrap;
    margin-bottom: 35px;
  }

  &__box {
    height: 60vh;
    width: 60vh;
    border-radius: 10%;
    margin: 30px 20px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  &__face {
    background-image: url(../img/gallery/face.jpg);
  }

  &__body {
    background-image: url(../img/gallery/leg.jpg);
  }

  &__maniciure {
    background-image: url(../img/gallery/hand.jpg);
  }

  &__laser {
    background-image: url(../img/gallery/body.jpg);
  }

  &__office {
    background-image: url(../img/gabinet/DSC_0200.JPG);
  }

  &__text {
    opacity: 0;
    height: 100%;
    width: 100%;
    text-align: center;
    line-height: 55vh;
    font-size: 2rem;
    color: $color-white;
    background-color: rgba(0, 0, 0, .5);
    border-radius: 10%;
    cursor: pointer;
    transition: .5s;
  }
}

/* 8. Kontakt */

.contact {
  .wrapper {
    @include flex(space-around);
  }

  &__box {
    font-size: 1.9rem;
  }

  &__box h4 {
    font-weight: bold;
    margin-bottom: 20px;
  }

  &__hours-office {
    border-left: 3px solid $color-main;
    padding: 0 20px;
    margin-bottom: 40px;
  }

  p {
    line-height: 120%;
  }

  &__adress {
    border-left: 3px solid $color-main;
    padding: 0 20px;
  }

  &__media {
    text-align: center;
    margin: 30px auto;
    font-size: 3rem;
  }

  &__media i {
    margin: 0 20px;
    transition: .5s;
    cursor: pointer;
    color: $color-main;
  }

  &__map iframe {
    height: 550px;
    width: 70vw;
    background-color: #999;
  }
}

/* 9. Stopka */

.footer {
  @include flex(space-between);
  padding: 10px 40px;
  background-color: #ccc;
  font-size: .9rem;

  & a {
    text-decoration: none;
  }
}

// Media 

// hover
@media (min-width: 1200px) {
  .menu__link:hover {
    @include button-hover();
  }

  .about-box__school p:hover {
    @include button-hover();
  }

  .gallery__face:hover .gallery__text,
  .gallery__body:hover .gallery__text,
  .gallery__maniciure:hover .gallery__text,
  .gallery__laser:hover .gallery__text,
  .gallery__office:hover .gallery__text {
    opacity: 1;
  }

  .contact__media {
    .fa-google-plus-square:hover {
      transform: scale(1.2);
      color: $color-main;
    }

    .fa-facebook-square:hover {
      transform: scale(1.2);
      color: #3B5998;
    }
  }
}

//media
@media (max-width: 1200px) {

  .menu {
    &__link {
      width: 6.5em;
      font-size: 1em;
    }
  }

  .gallery__box {
    height: 55vh;
    width: 55vh;
    margin: 20px;
  }

  .gallery__face .gallery__text,
  .gallery__body .gallery__text,
  .gallery__maniciure .gallery__text,
  .gallery__laser .gallery__text,
  .gallery__office .gallery__text {
    opacity: .8;
  }
}

@media (max-width: 1024px) {
  .menu {
    border-bottom: 2px solid $color-main;

    &__link {
      font-size: 1em;
    }
  }

  .about {
    width: 90%;
    font-size: .9em;

    .about-box__img {
      height: 250px;
      margin-right: 20px;
    }
  }

  .offer {
    &__treatments {
      width: 100%;
    }

    &__treatment-box {
      width: 90%;
    }
  }

  .voucher {
    &__box {
      margin: 50px auto;
      width: 90%;
    }
  }
}

@media (max-width: 900px) {
  .title {
    font-size: 2rem;
  }

  .page__text {
    line-height: 170%;
    font-size: 1em;
  }

  .wrapper {
    margin: 20px auto;
  }

  // menu w hamburgerze
  .menu {
    border: none;

    &__not-burger {
      display: none;
      width: 100%;
      height: 100%;
      // background-color: rgba(255, 255, 255, .7);
      background-color: rgba(128, 128, 128, .9);
    }

    &__not-burger--active {
      display: block;
      border-bottom: none;
    }

    &__lists {
      flex-direction: column;
      font-size: 1.5rem;
      width: 100%;
      font-weight: bold;
      align-items: center;
    }

    &__burger {
      display: block;
      z-index: 10;
    }

    #carousel {
      top: 0;
    }

    .about {
      margin: 30px auto;
    }
  }

  @media (max-width: 810px) {
    .contact {

      &__box {
        font-size: 1.5rem;
      }

      &__media {
        font-size: 3.5rem;
      }

      &__map iframe {
        height: 470px;
      }
    }

    .voucher {
      &__box {
        margin: 20px auto;
        width: 90%;
        font-size: 1.3rem;
      }

      &__img {
        height: 60vw;
        width: 40vw;
      }

      &__offer {
        margin: auto 15px;
      }
    }
  }

  @media (max-width: 690px) {
    .about-box__school {
      font-size: .9rem;
    }

    .offer {
      &__not-found {
        padding: 0 25px;
      }
    }

    .contact {
      .wrapper {
        flex-direction: column;
      }

      &__box {
        @include flex(space-around);
        margin-bottom: 10px;
      }

      &__hours-office {
        border: none;
        margin: 0;
      }

      &__adress {
        border: none;
      }

      &__media {
        @include flex(space-around);
        flex-direction: column;
        margin: 0;
      }

      &__map iframe {
        height: 350px;
        width: 100vw;
        margin: 0 auto;
      }
    }
  }

  @media (max-width: 640px) {
    .offer {
      &__treatment {
        letter-spacing: 1px;
        font-size: 1em;
      }

      &__not-found {
        width: 70%;
        line-height: 150%;
      }

      &__treatment-box {
        width: 100%;
        /* border-bottom: 1px solid grey; */
      }

      &__IPL .offer__name {
        padding: 0;
      }
    }

    .voucher {
      &__box {
        font-size: 1.2rem;
        margin: 30px auto;
        width: 95%;
      }

      &__img {
        height: 60vw;
        width: 35vw;
      }

      &__offer {
        margin: auto 10px;
      }
    }
  }

  @media (max-width: 590px) {
    .offer {
      &__treatment-box p {
        padding: 0 10px;
      }
    }

    .voucher {
      &__box {
        // @include flex(space-between);
        // flex-direction: column;
        display: block;
        font-size: 1.2rem;
        margin: 50px auto;
        // width: 95%;
      }

      &__img {
        float: left;
        // height: 50vw;
        // width: 50%;
        margin-right: 10px;
      }

      &__offer {
        margin: auto 10px;
        display: block;
      }
    }

    .promo {
      &__promotion {
        font-size: 1.4rem;
        padding: 10px 0;
      }

      &__actual-offer {
        font-size: 2.4rem;
      }

      &__time {
        margin-top: 20px;
        padding: 15px 0;
        font-size: 2.5rem;
        font-weight: bold;
      }
    }

    .footer {
      padding: 10px 10px;
      font-size: .9rem;
    }
  }

  @media (max-width: 490px) {
    .offer {

      &__name {
        padding: 10px;
      }

      &__treatment {
        width: 90%;
        margin: 0 auto;
        padding: 0;
      }

      &__not-found {
        width: 70%;
        line-height: 150%;
      }

      &__treatment-box {
        width: 100%;
        padding: 0 10px;
        /* border-bottom: 1px solid grey; */
      }

      &__treatment-box p {
        padding: 0 10px;
      }
    }

    .contact {
      .wrapper {
        flex-direction: column;
      }

      &__box {
        @include flex(space-around);
        flex-direction: column;
        text-align: center;
      }

      &__hours-office {
        margin-bottom: 20px;
      }

      &__media {
        flex-direction: row;
        margin: 25px auto;
        font-size: 4rem;
      }
    }

    .promo {
      height: 80vh;

      .title--mod {
        padding: 10px 0;
      }

      &__promotion {
        font-size: 1.5rem;
        line-height: 200%;
        padding: 10px 0;
      }

      &__actual-offer {
        font-size: 2rem;
        padding: 10px 0;
        margin-bottom: 10px;
      }

      &__actual-offer span:nth-child(2) {
        font-size: 3rem;
      }

      &__time {
        padding: 10px 0;
        font-size: 2rem;
      }
    }
  }

  @media (max-width: 440px) {
    .about {
      margin: 0 20px;
    }

    .offer {
      margin: 0;
      font-size: 1rem;

      &__text {
        font-size: 1rem;
        padding: 0;
      }

      &__name {
        padding: 0;
      }

      &__treatment-box {
        padding: 0;
      }

      &__name--small {
        margin: 0 auto;
        width: 85%;
      }

      &__not-found {
        margin: 0 auto;
        width: 85%;
        padding: 0;
        font-size: 1.1rem;
      }

      &__not-found span {
        font-size: 1.5rem;
      }
    }

    .gallery {
      &__box {
        height: 40vh;
        width: 40vh;
        margin: 10px 20px;
      }

      &__text {
        line-height: 40vh;
      }

      .footer {
        padding: 5px;
        font-size: .7rem;
      }
    }
  }

  @media (max-width: 360px) {

    .gallery__text {
      line-height: 40vh;
      font-size: 1.6rem;
    }

    .contact__media {
      font-size: 3.5rem;
    }
  }

  @media (max-width: 340px) {

    .about {
      .about-box__img {
        border: 1px solid $color-main;
      }
    }

    .page__text {
      font-size: 1rem;
    }

    .offer {
      margin: 0;
      font-size: 1rem;

      .addLine .offer__text:after {
        height: 1px;
      }
    }

    .promo {
      height: 90vh;
    }
  }
}