/* 
1. Ogólne
2. Navigacja
3. Slider
4. o mnie
5. oferta
6. aktualne promocje
7.galeria
8. Kontakt 
9. Stopka
-------------------------------------------------------------------------*/

/* 1. Ogólne */

* {
  box-sizing: border-box;
}

body {
  font-family: 'Saira Condensed', sans-serif;
  font-size: 20px;
  height: 800vh;
}

/* 2. Nawigacja  */

nav {
  border-bottom: 3px solid #c2000b;
  display: flex;
  justify-content: space-between;
  height: 70px;
}

ul {
  display: flex;
}

li {
  flex-basis: 100%;
}

a {
  display: block;
  font-size: 25px;
  text-align: center;
  text-decoration: none;
  width: 140px;
  font-weight: bold;
  line-height: 70px;
  color: black;
  font-family: 'Dancing Script', cursive;
}

nav li a:hover {
  background-color: #c2000b;
  color: #fff;
}

/* Slider */

#carousel {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 80vh;
  /* border-bottom: 3px solid #c2000b; */
}

.slider li {
  list-style: none;
}

.slider img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /*min-width: 100%;
  min-height: 100%; */
  object-fit: cover;
  width: 100%;
  opacity: 0;
  animation: slider 80s infinite linear;
}

.slider li:nth-child(2) img {
  animation-delay: 10s;
}

.slider li:nth-child(3) img {
  animation-delay: 20s
}

.slider li:nth-child(4) img {
  animation-delay: 30s
}

.slider li:nth-child(5) img {
  animation-delay: 40s
}

.slider li:nth-child(6) img {
  animation-delay: 50s
}

.slider li:nth-child(7) img {
  animation-delay: 60s
}

.slider li:nth-child(8) img {
  animation-delay: 70s
}

@keyframes slider {
  0% {
    opacity: 0;
  }

  1% {
    opacity: 1;
  }

  11% {
    opacity: 1;
  }

  12% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

/* O mnie */

.aboutMe {
  width: 80%;
  margin: 25px auto;
  border-bottom: 3px solid gray;
}

.aboutMe h2 {
  font-family: 'Dancing Script', cursive;
  font-size: 3em;
  text-align: center;
}

.aboutMe h2:after {
  content: "";
  display: block;
  clear: both;
  height: 3px;
  width: 30%;
  background: #c2000b;
  text-align: center;
  margin: 20px auto;
}

.aboutMe img {
  float: left;
  height: 300px;
  border: 2px solid #c2000b;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  /* border-bottom-left-radius: 20%; */
  /* border-top-right-radius: 20%; */
  margin-right: 50px;
}

.aboutMe p {
  line-height: 170%;
  text-align: justify
}

.aboutBox .school {
  text-align: center;
  width: 100%;
}

.aboutBox .school p {
  display: inline-block;
  /* padding: 10px; */
  margin: 20px auto;
  width: 30%;
  text-align: center;
  font-size: 2em;
  cursor: pointer;
  font-family: 'Dancing Script', cursive;
}

.aboutBox .school p:hover {
  color: #fff;
  background-color: #c2000b;
}

/* Oferta */

.offer {
  border-bottom: 5px solid #c2000b;
}

.offer h2 {
  font-family: 'Dancing Script', cursive;
  font-size: 3em;
  text-align: center;
  margin: 50px auto;
}

/* .offer h2:after {
  content: "";
  display: block;
  clear: both;
  height: 3px;
  width: 30%;
  background: #c2000b;
  text-align: center;
  margin: 20px auto;
} */

.treatment {
  padding: 0 20px;
  margin: 0 auto;
}

.offer .name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 100px 5px 40px;
}

.name p {
  font-size: 1.5rem;
  padding: 20px 0;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
}

/* kiedy dodanie zostanie klasa hover dodać after */
/* .name p:after {
  content: "";
  display: block;
  clear: both;
  height: 3px;
  width: 120%;
  background: #c2000b;
  text-align: center;
  margin: 20px auto;
} */

.name .show {
  font-size: 3rem;
  cursor: pointer;
}

.treatment article {
  letter-spacing: 2px;
  font-size: 1.3rem;
  /* display: none; */
  padding: 0 70px;
}

.treatment h3 {
  text-align: center;
  margin: 50px auto;
  font-size: 2rem;
}

.treatment h3 span {
  color: rgb(44, 104, 54);
  font-size: 2.2rem;
  font-weight: bold;
}

/* Aktualne promocje */

.sale .promo {
  background-image: url(https://images.unsplash.com/photo-1515377905703-c4788e51af15?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=5f384fa6a6caa83e0ffdcef585e20c99&auto=format&fit=crop&w=1350&q=80);
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

.promo {
  color: #fff;
  /* width: 100%; */
  text-align: center;
}

.promo h3 {
  padding: 50px 0;
  font-size: 3rem;
  background-color: rgba(0, 0, 0, .5);
}

.promotions {
  font-size: 2rem;
}

.promotion {
  padding: 20px 0;
  line-height: 150%;
}

.promotion h4 {
  font-size: 3rem;
  padding: 10px 0;
  background-color: rgba(0, 0, 0, .5);
  margin-bottom: 15px;
}

.promotion h4 span:nth-child(1) {
  text-decoration: line-through;
  /* font-size: 1rem; */
}

.promotion h4 span:nth-child(2) {
  color: #c2000b;
  font-size: 4rem;
}

.promotion p {
  background-color: rgba(0, 0, 0, .7);
}

.timePromo {
  margin-top: 30px;
  padding: 25px 0;
  font-size: 3rem;
  background-color: rgba(0, 0, 0, .7);
}

/* 7. Galeria */