/* 
1. Ogólne
2. Navigacja
3. Slider
4. o mnie
5. oferta
6. Bony
7. aktualne promocje
8.galeria
9. Kontakt 
10. Stopka
-------------------------------------------------------------------------*/

/* 1. Ogólne */

* {
  box-sizing: border-box;
}

body {
  font-family: 'Saira Condensed', sans-serif;
  font-size: 20px;
  /* height: 800vh; */
}

/* 2. Nawigacja  */

nav {
  border-bottom: 3px solid #c2000b;
  display: flex;
  justify-content: space-between;
  height: 70px;
}

ul {
  display: flex;
}

li {
  flex-basis: 100%;
}

nav a {
  display: block;
  font-size: 1.2em;
  text-align: center;
  text-decoration: none;
  width: 140px;
  /* font-weight: bold; */
  line-height: 70px;
  color: black;
  font-family: 'Mali', cursive;
}

nav li a:hover {
  background-color: #c2000b;
  color: #fff;
}

/* Slider */

#carousel {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 80vh;
  /* border-bottom: 3px solid #c2000b; */
}

.slider li {
  list-style: none;
}

.slider img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /*min-width: 100%;
  min-height: 100%; */
  object-fit: cover;
  width: 100%;
  opacity: 0;
  animation: slider 64s infinite linear;
}

.slider li:nth-child(2) img {
  animation-delay: 8s;
}

.slider li:nth-child(3) img {
  animation-delay: 16s
}

.slider li:nth-child(4) img {
  animation-delay: 24s
}

.slider li:nth-child(5) img {
  animation-delay: 32s
}

.slider li:nth-child(6) img {
  animation-delay: 40s
}

.slider li:nth-child(7) img {
  animation-delay: 48s
}

.slider li:nth-child(8) img {
  animation-delay: 56s
}

@keyframes slider {
  0% {
    opacity: 0;
  }

  1% {
    opacity: 1;
  }

  11% {
    opacity: 1;
  }

  12% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

/* O mnie */

.aboutMe {
  width: 80%;
  margin: 25px auto;
  /* border-bottom: 3px solid gray; */
}

.aboutMe h2 {
  font-family: 'Berkshire Swash', cursive;
  font-size: 3em;
  text-align: center;
}

.aboutMe h2:after {
  content: "";
  display: block;
  clear: both;
  height: 3px;
  width: 30%;
  background: #c2000b;
  text-align: center;
  margin: 20px auto;
}

.aboutMe img {
  float: left;
  height: 300px;
  border: 2px solid #c2000b;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  /* border-bottom-left-radius: 20%; */
  /* border-top-right-radius: 20%; */
  margin-right: 50px;
}

.aboutMe p {
  line-height: 170%;
  text-align: justify
}

/* .aboutBox .school {
  text-align: center;
  width: 100%;
}

.aboutBox .school p {
  display: inline-block;
margin: 20px auto;
width: 30%;
text-align: center;
font-size: 2em;
cursor: pointer;
font-family: 'Dancing Script',
cursive;
}

.aboutBox .school p:hover {
  color: #fff;
  background-color: #c2000b;
}

*/
/* Oferta */

/* .offer {
  border-bottom: 5px solid #c2000b;
} */

.offer h2 {
  font-family: 'Mali', cursive;
  font-size: 3em;
  text-align: center;
  margin: 50px auto;
}

.offer h2:after {
  content: "";
  display: block;
  clear: both;
  height: 3px;
  width: 30%;
  background: #c2000b;
  text-align: center;
  margin: 20px auto;
}

.treatment {
  padding: 0 20px;
  margin: 0 auto;
}

.offer .name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 100px 5px 40px;
}

.name p {
  font-size: 1.5rem;
  padding: 20px 0;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
}

/* kiedy dodanie zostanie klasa hover dodać after */
/* .name p:after {
  content: "";
  display: block;
  clear: both;
  height: 3px;
  width: 120%;
  background: #c2000b;
  text-align: center;
  margin: 20px auto;
} */

.name .show {
  font-size: 3rem;
  cursor: pointer;
}

.treatment article {
  letter-spacing: 2px;
  line-height: 150%;
  font-size: 1.5rem;
  display: none;
  padding: 0 70px;
}

/* Dodawana klasa po kliknięciu + */
.treatment article.active {
  display: block;
}

.treatment h3 {
  text-align: center;
  margin: 50px auto;
  font-size: 2rem;
}

.treatment h3 span {
  color: rgb(44, 104, 54);
  font-size: 2.2rem;
  font-weight: bold;
}

/* Bony */

.voucherBox {
  display: flex;
  justify-content: space-around;
  background-color: #FAFAFC;
  margin: 0 auto 70px auto;
  border-bottom: 5px solid #c2000b;
}

.voucherOffer {
  width: 50%;
}

.voucherOffer h4 {
  font-family: 'Dancing Script', cursive;
  font-size: 3em;
  text-align: center;
  margin: 50px auto;
}

.voucherOffer h4:after {
  content: "";
  display: block;
  clear: both;
  height: 3px;
  width: 80%;
  background: #c2000b;
  margin: 20px auto;
}

.voucherOffer p {
  width: 80%;
  margin: 20px auto;
  font-size: 1.5rem;
  line-height: 150%;
  text-align: justify;
}

.voucherImg {}

/* Aktualne promocje */

.sale .promo {
  /* background-image: url(https://images.unsplash.com/photo-1515377905703-c4788e51af15?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=5f384fa6a6caa83e0ffdcef585e20c99&auto=format&fit=crop&w=1350&q=80); */
  /* background-image: url(https://cdn.pixabay.com/photo/2017/12/28/14/19/background-3045316_960_720.jpg); */
  background-image: url(https://cdn.pixabay.com/photo/2017/12/28/14/19/background-3045317_960_720.jpg);
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

.promo {
  color: #fff;
  /* width: 100%; */
  text-align: center;
}

.promo h3 {
  padding: 50px 0;
  font-size: 3rem;
  background-color: rgba(225, 255, 255, .5);
  color: #000;
}

.promotions {
  font-size: 2rem;
}

.promotion {
  padding: 20px 0;
  line-height: 150%;
}

.promotion h4 {
  font-size: 3rem;
  padding: 10px 0;
  color: #000;
  background-color: rgba(225, 255, 255, .5);
  margin-bottom: 15px;
}

.promotion h4 span:nth-child(1) {
  text-decoration: line-through;
  /* font-size: 1rem; */
}

.promotion h4 span:nth-child(2) {
  color: #c2000b;
  font-size: 4rem;
}

.promotion p {
  /* background-color: rgba(225, 255, 255, .5); */
  color: #000;
}

.timePromo {
  margin-top: 30px;
  padding: 25px 0;
  font-size: 3rem;
  /* background-color: rgba(225, 255, 255, .5); */
  color: #000;
}

/* 7. Galeria */

.gallery {
  border-bottom: 5px solid #c2000b;
}

.gallery h3 {
  font-family: 'Dancing Script', cursive;
  font-size: 3em;
  text-align: center;
  margin: 50px auto;
}

.gallery h3:after {
  content: "";
  display: block;
  clear: both;
  height: 3px;
  width: 30%;
  background: #c2000b;
  text-align: center;
  margin: 20px auto;
}

.box div {
  margin-top: 30px;
}

.box {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 35px;
}

.box div {
  height: 400px;
  width: 400px;
  border-radius: 10%;
}

.box .face {
  background-image: url(https://images.unsplash.com/photo-1531860415933-7d5348a737d4?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=ec323a04ea22c9913bbdb2d7ffa94170&auto=format&fit=crop&w=334&q=80);
  background-size: cover;
  background-repeat: no-repeat;
}

.box .body {
  background-image: url(https://images.unsplash.com/photo-1533094835326-76dd44a9d91c?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=bb7bc6f0c4111897bed39680269104a5&auto=format&fit=crop&w=750&q=80);
  background-size: cover;
  background-repeat: no-repeat;
}

.box .maniciure {
  background-image: url(https://images.unsplash.com/photo-1457040931721-53ca161dab33?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=898018ed70eb5a889300ac2d082de540&auto=format&fit=crop&w=400&q=60);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.box .laser {
  background-image: url(https://images.unsplash.com/photo-1511284800349-cb63bc2e6c0e?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=e585f0abc6bf4dfb60b5242c82e58623&auto=format&fit=crop&w=500&q=80);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.box .office {
  background-image: url(img/gabinet/DSC_0200.JPG);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.box p {
  opacity: 0;
  height: 100%;
  width: 100%;
  text-align: center;
  line-height: 400px;
  font-size: 3rem;
  color: #fff;
  background-color: rgba(0, 0, 0, .5);
  border-radius: 10%;
  cursor: pointer;
  transition: .5s;
}

.face:hover p,
.body:hover p,
.maniciure:hover p,
.laser:hover p,
.office:hover p {
  opacity: 1;
}

/* 8. Kontakt */

.contact .wrapper {
  display: flex;
  justify-content: space-around;
}

.contact h3 {
  font-family: 'Dancing Script', cursive;
  font-size: 3em;
  text-align: center;
  margin: 50px auto;
}

.contact h3:after {
  content: "";
  display: block;
  clear: both;
  height: 3px;
  width: 30%;
  background: #c2000b;
  text-align: center;
  margin: 20px auto;
}

.contactBox {
  font-size: 1.9rem;
}

.contactBox h4 {
  font-weight: bold;
  margin-bottom: 20px;
}

.hoursOffice {
  border-left: 3px solid #c2000b;
  padding: 0 20px;
  margin-bottom: 40px;
}

.contact p {
  line-height: 120%;
}

.adress {
  border-left: 3px solid #c2000b;
  padding: 0 20px;
}

.media {
  text-align: center;
  margin: 30px auto;
  font-size: 3rem;
}

.media i {
  margin: 0 20px;
  transition: .5s;
  cursor: pointer;
}

.media .fa-google-plus-square:hover {
  transform: scale(1.2);
  color: #c2000b;
}

.media .fa-facebook-square:hover {
  transform: scale(1.2);
  color: #3B5998;
}

.map {
  height: 550px;
  width: 70vw;
  background-color: #999;
}

/* 9. Stopka */

.footer {
  display: flex;
  justify-content: space-between;
  padding: 10px 40px;
  background-color: #ccc;
  font-size: .9rem
}

.footer a {
  text-decoration: none;
}